.header-cont-clear {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 0px;
    height: 14vh;
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: white; 
    z-index: 100;
    transition: 0.5s;
}

.header-cont {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 0px;
    height: 14vh;
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white; 
    z-index: 100;
    transition: 0.5s;
}

.header {
    font-size: min(max(20px, calc(12px + 1.5vw)), 80px);
    height: 90%;
    width: 95%;
    max-width: calc(0.95 * 2000px);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-mobile {
    font-size: min(max(20px, calc(12px + 1.5vw)), 80px);
    height: 90%;
    width: 95%;
    max-width: calc(0.95 * 2500px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.header-left {
    font-size: 1em;
}

.header-right {
    margin-top: 5px;
    font-size: 0.8em;
}